# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Backend (Should not be in APK)
backend/
tmp/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store
*.pem

# generated native folders
/ios
/android
/backend
